@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

@font-face {
    font-family: 'Smiley Face';
    src: url('SmileyFace-Bold.woff2') format('woff');
    font-weight: 700;
    font-style: normal;
}

body {
	font-family: "Inter", sans-serif;
}

h1, h2, h3, h4 {
	font-weight: 700 !important;
	color: #011F44 !important;
	font-family: 'Smiley Face', sans-serif;
}

.md-header {
	background-color: #fff;
	color: #011F44 !important;
	font-weight: 700;
}

a { color: #0564C2 !important; }
a:hover {
	text-decoration: underline;
}

a.md-nav__link,
label.md-nav__link {
	color: #011F44!important;
}

a.md-nav__link.md-nav__link--active {
	color: #0564C2 !important;
}

.md-nav__link:focus, .md-nav__link:hover {
	color: #011F44 !important;
	text-decoration: underline;
}
.md-footer a {
	color: #fff !important;
}


.md-typeset .admonition, 
.md-typeset details {
	font-size: .8rem !important;
}

.md-footer-copyright {
	display: none;
}

